@using NhaList.ExtensionMethods
<!DOCTYPE html>
<html lang="en" xml:lang="en" @*data-ng-app="app"*@>
    <head>
        <meta charset="utf-8" />
        <title>Nhà List | Tìm và cho thuê nhà</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Tìm và cho thuê nhà 100% bằng tiếng Việt, ở bất cứ nơi nào trên thế giới, USA (Mỹ), Việt Nam, Australia (Úc), Europe (Âu châu)">
        <meta name="author" content="WhenYouBelieve2014@gmail.com">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Roboto&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
        @Html.CssFor("~/Content/bootstrap.css")
        @Html.CssFor("~/Content/site.css")
    </head>
    <body>
        @RenderBody()
        <footer>
            <div class="container">
                <p>&copy; 2014 — 
                    <a href="mailto:WhenYouBelieve2014@gmail.com?Subject=Nhà List" >WhenYouBelieve2014@gmail.com</a>
                </p>
            </div>
        </footer>
        @Html.JsFor("~/bundles/modernizr")
        @Html.JsFor("~/bundles/jquery")
        @Html.JsFor("~/bundles/bootstrap")
        @*@Html.JsFor("~/bundles/angular")*@
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/angular-route.js"></script>
        @*@Html.JsFor("~/bundles/app")*@
        @RenderSection("scripts", false)
    </body>
</html>